button{
    background-color: black;
    color:#FAA21A;
    text-align: center;
    height: 3rem;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.cursive{
    font-family: sofia;
    
}