body {
  padding: 0%;
  margin: 0%;
}

/* button{
    background-color: black;
    color:#FAA21A;
    text-align: center;
    height: 3rem;
    
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
} */
.cursive {
  font-family: sofia;
}

.card-pictures {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
}
h3 {
  padding-top: 5rem;
  color: #faa21a;
}
