body{
    margin: 0%;
    padding:0%;
}

.cart-heading{
    width: 120rem;
    
    border:solid black;
    
}

ul{
    padding:0px;
}

li{
   display:inline-block;
   width: auto;
   list-style: outside none none;
   text-align: end;
}

/* .button1{
    align-items: left;
    margin-left:10px;
}

.button2{
    align-items: center;
}

.button1{
    align-items: right;
    margin-right:10px;
} */

