.picture {
   
   width:83rem;
   height:10rem
}
.random-picturesone{
   width: 35rem;
   object-fit: cover;
}
.random-picturestwo{
   width: 28rem;
   object-fit: cover;
}
.random-picturesthree{
   width: 40rem;
   object-fit: cover;
}
.random-picturesfour{
   width: 20rem;
   object-fit: cover;
}
    
   


