.store-logo {
  width: 107px;
  height: auto;
}

.navbar-brand {
  padding-top: 0;
  margin-right: 0;
}

.navstyle {
  padding-right: 4rem;
  
}
nav.link:visited {
  color: black
}
.dropdown{
  font-size:1.3rem;
  color: black;
}