
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
.bigcontainer{
    border: white;
}

.heading{
    text-align: center;
    
}

   

.firstpic{
    width:30rem;
    height:35rem;
    border:solid black;
    

    
}
.secondpic{
    width:11rem;
    height:11rem;

}
.box{
    height:15rem;
    width:15rem;
   
    
}
.button{
    padding-top: 1rem;
    padding-left: 3rem;
}
.share-container{
    height:15rem;
    width: 22rem;
    
}

.button{
    background-color: black;
    color:#FAA21A;
    text-align: center;
    height: 3rem;
    padding-left: 1rem;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
    
    
}
.item{
    color: #FAA21A;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
} 
/* li{
    list-style-type: none;
   
}
li:before{
    content: "\27A4";
}  */
.productinfo{
    height:12rem;
    width: 35rem;
}
.pricecontainer{
    
    width: 14rem;
    


}
.share{
    color: #FAA21A;
}

