
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
.bigcontainer{
    border: white;
}

.heading{
    text-align: center;
    
}

   

.firstpic{
    width:32rem;
    height:30rem;
   
    

    
}
.secondpic{
    width:11rem;
    height:11rem;

}
.box{
    height:18rem;
    width: 18rem;
   
    
}
.addtocart{
    
    width: 11rem;
    height:7rem;
    padding-right: 4rem;
    
   
}




.share-container{
    height:15rem;
    width: 22rem;
    
}

.button{
    background-color: black;
    color:#FAA21A;
    text-align: center;
    height: 3rem;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.item{
    color: #FAA21A;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 2rem;
    
   

    
    
} 
/* li{
    list-style-type: none;
   
}
li:before{
    content: "\27A4";
}  */

/* .pricecontainer{
    
    width: 14rem;
    


} */
.share{
    color: #FAA21A;
}

img {
    width: 26rem;
    height:31rem;
}

.pictures{
    width: 12rem;
    height:12rem;
}
.productinfo{
    border:1px solid #ccc;
    width:25rem;
    
    width: -moz-fit-content;
    width:fit-content;
}
.firstdescription{
    
   width:30rem;
}



    

.pricecontainer{
    
    width: 15rem;
    height:18rem;
}



.nameandprice{
    height: 3rem;
    width: 6rem;
}

