.productLink-button {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: #faa21a;
  text-align: center;
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  font-family: "Times New Roman", Times, serif;
}
