body{
  
}


.App {
  text-align: center;
}
h2 {
  font-size: bold;
  font-weight: 300;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: 'Times New Roman', Times, serif;
  color: #FAA21A;
 
  
 
}
h1 {
  font-size: bold;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
 
  
 
}


